* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EBB3A9;
}

section {
  text-align: center;
  justify-content: center;
  border: #FE4A49;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  background-color: #DB6C79;
  margin-left: 10px;
  margin-right: 10px:
}

div {
  background-color: #FFF4EC;
  margin-left: 10px;
  margin-right: 10px;
}

article {
  border: 10px solid #087E8B;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4ec;
  color: black;
}

.png1 {
  background-color: #fff4ec;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.line {
  font-size: 20px;
  padding: 30px;
  border: 10px dotted #fff4ec;
  margin: 30px;
}
h1 {
  background-color: #fff4ec;
  color: black;
  font-family: 'Amatic Sc', cursive;
  font-size: 100px;
}

.images {
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 30px;
}
